[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
mock = "*"
pytest-cov = "*"
pytest-black = "*"
pytest-flake8 = "*"
flake8-isort = "*"
sphinx-rtd-theme = "*"
# Pinning black stops us having to allow pre-releases globally
black = {version = "==19.10b0", python_version = ">= '3.6'"}

[packages]
# All other package requirements from setup.cfg
versiongit = {editable = true,path = "."}

[scripts]
# Put coverage here so we don't interfere with debugging in the IDE
tests = "python -m pytest --cov-fail-under=90 --cov=versiongit --cov-report xml:cov.xml"
docs = "sphinx-build -E -b html docs build/html"

